<div id="waiting">
	<div class="spinnercontainer">
		<div class="dots" id="spinner">Loading&#8230;</div>
	</div>
	<h3> نَنتظِر إنضِمام شريكٌكَ في اللعبه! </h3>
</div>

<div id="player-container">
	<div class="small-6 columns text-center">
		<div class="row text-center">
			<div class="small-9 columns">	
				<%= link_to multiplayer_game_path, id:"two-players-game-button", class:"button", remote:true do %>
					لعبة التشكيل<sub>لعبة ثنائية</sub>
				<% end %>
			</div>
			<div class="small-3 columns">&nbsp;</div>
		</div>
		<div class="row text-center">&nbsp;</div>
		<div class="row text-center">
			<div class="small-6 columns text-right">
				<div class="row text-center">&nbsp;</div>
				<b>الأرقام القياسية</b>
			</div>
			<div class="small-3 columns text-center" id="highest-records-icon">
			</div>
			<div class="small-3 columns">&nbsp;</div>
		</div>
		<div class="row text-center">
			<div class="small-10 columns">
				<table>
			    <caption></caption>
			    <tr>
			      <th id="rank"> المَركز </th>
			      <th id="playerName"> إسم اللاعب </th>
			      <th id="playerTime"> الوقت </th>
			      <th id="playerScore"> النقاط </th>
			    </tr>
			    <% if @twopg_highest_ranked_records.empty? %>
							<tr>
				      	<th headers="rank"> - </th>
				      	<td headers="playerName 1"> - </td>
				      	<td headers="playerTime"> - </td>
				      	<td headers="playerScore 1"> - </td>
				    	</tr>
			    <% else %>
				    <% @twopg_highest_ranked_records.each_with_index do |record, i| %>
							<tr>
				      	<th headers="rank"><%= i+1 %></th>
				      	<td headers="playerName 1"><%= Player.find(record.player_id).name%></td>
				      	<td headers="playerTime"><%= record.round_time %></td>
				      	<td headers="playerScore 1"><%= Player.find(record.player_id).score %></td>
				    	</tr>  
						<% end %>
					<% end %>
			  </table>
			</div>
			<div class="small-2 columns">&nbsp;</div>
		</div>
	</div><!--/small-6 columns-->
	<div class="small-6 columns text-center">
		<div class="row text-center">
			<div class="small-9 columns text-center">
				<button id="single-player-matching-game">
					لعبة الذاكرة<sub>لعبة فردية</sub>
				</button>
			</div>
			<div class="small-3 columns text-center">&nbsp;</div>
		</div>
		<div class="row text-center">&nbsp;</div>
		<div class="row text-center">
			<div class="small-6 columns text-right">
				<div class="row text-center">&nbsp;</div>
				<b>الأرقام القياسية</b>
			</div>
			<div class="small-3 columns text-center" id="highest-records-icon">
			</div>
			<div class="small-3 columns">&nbsp;</div>
		</div>
		<div class="row text-center">
			<div class="small-10 columns">
				<table>
			    <caption></caption>
			    <tr>
			      <th id="rank"> المَركز </th>
			      <th id="playerName"> إسم اللاعب </th>
			      <th id="playerTime"> الوقت </th>
			      <th id="playerScore"> النقاط </th>
			    </tr>
			    <% if @mg_highest_ranked_records.empty? %>
							<tr>
				      	<th headers="rank"> - </th>
				      	<td headers="playerName 1"> - </td>
				      	<td headers="playerTime"> - </td>
				      	<td headers="playerScore 1"> - </td>
				    	</tr>
			    <%else%>
				    <% @mg_highest_ranked_records.each_with_index do |record, i| %>
							<tr>
				      	<th headers="rank"><%= i+1 %></th>
				      	<td headers="playerName 1"><%= Player.find(record.player_id).name%></td>
				      	<td headers="playerTime"><%= record.mg_highest_time_record %></td>
				      	<td headers="playerScore 1"><%= Player.find(record.player_id).score %></td>
				    	</tr>  
						<% end %>
					<% end %>
			  </table>
			</div>
			<div class="small-2 columns">&nbsp;</div>
		</div>
	</div><!--/small-6 columns-->
	<%= link_to "hidden-link", matching_game_div_path ,id:"render-matching-link", remote:true %>
</div><!--/player-container-->

<!--Rendered Divs-->
<div class="row text-center" id="solver-container">
	<%= render '/players/solver' %>
</div>

<div id="hinter-container">
	<%= render '/players/hinter' %>
</div>

<div id="forever-loading-icon">
	<%= render '/players/forever_loading_icon' %>
</div>

<div id="game-explanation-solver-side">
	<%= render '/players/game_explanation_solver_side' %>
</div>

<div id="game-explanation-hinter-side">
	<%= render '/players/game_explanation_hinter_side' %>
</div>

<!--Hints that the solver can see-->
<%= render '/players/hints_to_solver' %>

<div id="gameOverModal" class="reveal-modal small text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="icon">
		<p id="gameendicon"></p>
	</div>
	<div class="title">
		<h2 id="modalTitle"> كسبت <span><b id="score-value">٦٠</b></span> نقطة  </h2>
		<h3 id="2pg-new-time-record">
				في <span><b id="2pg-time-record-value"></b><span> ثانية
		</h3>
	</div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
