<div id="waiting">
	<div class="spinnercontainer">
		<div class="dots" id="spinner">Loading&#8230;</div>
	</div>
	<h3> نَنتظِر إنضِمام شريكٌكَ في اللعبه! </h3>
</div>

<div id="player-container"  >
	<br/>
	<br/>
	<br/>
	<%= link_to "Two Player Game", multiplayer_game_path, id:"two-players-game-button", class:"button", remote:true %>

	<br/ >
	<br/>
	  <button id="single-player-matching-game">Single Player Game</button>
	<br/>
	<%= link_to "hidden-link", matching_game_div_path ,id:"render-matching-link", remote:true %>
	<%= link_to "hidden-link", reset_hinter_solver_views_path ,id:"reset-hinter-solver-views", remote:true %>
</div>

<div class="row text-center" id="solver-container">
	<%= render '/players/solver' %>
</div>

<div id="hinter-container">
	<%= render '/players/hinter' %>
</div>

<div id="forever-loading-icon">
	<%= render '/players/forever_loading_icon' %>
</div>

<!--Hints that the solver can see-->
<%= render '/players/hints_to_solver' %>


<div id="gameOverModal" class="reveal-modal small text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<div class="icon">
		<p id="gameendicon"></p>
	</div>
	<div class="title">
		<h2 id="modalTitle"> كسبت <span><b>٦٠</b></span> نقطة  </h2>
		<!--<h2> ستبدأ العب مع شريكُك الأن! </h2>-->
	</div>
  
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>