<% if signed_in? %>
  <div class="userprofile" id="profile-side-bar">
    <div id="useravatar">
      <%= image_tag avatar_url("linsara1@gmail.com") %>
    </div>
    <div id="username">
      <p><b> <%= current_player.name %>  </b></p>  
    </div>  
    <div id="userinfo">
      <div id="userinfoheader">
        <span id="removerightborder"><b> النقاط </b></span>
        <span><b> الترتيب </b></span>
      </div> 
      <div id="userinfodata">
        <span id="removerightborder"> <%= current_player.score %> </span>
        <span> 1000 </span>
      </div>
      <div class="userbadgescontainer">
        <ul id="userbadges">
          <li><div id="badgeone"></div></li>
          <li><div id="badgetwo"></div></li>
        </ul>
      </div>  
    </div><!--/userinfo-->
  </div><!--/userprofile-->
<!-- #game-side-bar -->
  <div class="userprofile" id="game-side-bar">
      <div id="usersavatars">
        <!--later on this will be obtained from the database-->
        <span id="user1avatar" style="padding-left:25px;"><%= image_tag small_avatar_url("player1@gmail.com") %></span>
        <span id="with"> مع <span>
        <span id="user2avatar" style="padding-right:25px"><%= image_tag small_avatar_url("player2@gmail.com") %></span>
      </div>

      <div id="usernames">
        <span id="player-1-name"><b> لين </b></span>
        <span id="player-2-name"><b> محمد </b></span>
      </div>  

      <div class="gameinfocontainer">
        <ul id="gameinfo">
          <li><div id="pointsicon"></div></li>
          <li><div>&nbsp;&nbsp;</div></li>
          <li><div id="roundicon"></div></li>
          <li><div>&nbsp;&nbsp;</div></li>
          <li><div id="timericon"></div></li> 
          <li><div>&nbsp;&nbsp;</div></li>
        </ul>
      </div>

      <div id="gameinfoheaders">
        <span id="removerightborder"><b> النقاط </b></span>
        <span><b> الجولة </b></span>
        <span><b> الوقت </b></span>
      </div>

      <div id="gameinfodata">
        <span id="game-points"> ٠ </span>
        <span id="round-number"> ١\٢ </span>
        <span id="timer"> ٠٠٠ </span>
      </div>    
      <div class="progress large-12 success" align="left" id="game-progress-bar">
        <span class="meter"  id="game-meter"></span>
      </div>
      <div class="row"></div>
  </div><!--/userprofile-->
<!--/game-side-bar-->
<% else %>
  <div id="cupSprite"></div><!--Cup Icon-->
  <table>
    <caption></caption>
    <tr>
      <th id="rank"> المَركز </th>
      <th id="playerName"> إسم اللاعب </th>
      <th id="playerScore"> النقاط </th>
    </tr>
    <% if @top_ranks.nil? %>
        <tr>
          <th headers="rank"> - </th>
          <td headers="playerName"> - </td>
          <td headers="playerScore"> - </td>
        </tr>
    <% else %>
      <% @top_ranks.each_with_index do |record, i| %>
        <tr>
          <th headers="rank"><%= i+1 %></th>
          <td headers="playerName"><%= record.name%></td>
          <td headers="playerScore"><%= record.score %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
